@charset "UTF-8";


@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../assets/images/banner.png), linear-gradient(#000000, #0C232D, #000000);
    padding-top: 60px;
}

.banner h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33a8db, #1472b7);
    -webkit-background-clip: text;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 260px;
    width: 260px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;   
    padding: 16px;
    margin-bottom: 16px;
}

div button {
    margin-bottom: 60px;
}