@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../assets/images/banner.png), linear-gradient(#000000, #0C232D, #000000);
    padding-top: 60px;
}

.banner {
    text-align: center;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 260px;
    width: 260px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;   
    padding: 16px;
    margin-bottom: 16px;
}

div button {
    margin-bottom: 60px;
}